<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>In Moment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91A30EBA1C717EED00491BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91A30ECE1C717EEE00491BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91A30ED91C717EEE00491BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
